!.gitkeep

# Ignore all files in the data directory
data/*

# Ignore research article proposal 
Data_Synthesis_for_VFSS.pdf

# Ignore irrelevant files
.DS_Store
__pycache__
.ipynb_checkpoints
*.pyc
.env
run-training-on-cloud.sh
docs/prime-intellect-run.txt
