!.gitkeep

# Ignore all files in the data directory
data/

# Except for the following files
!data/training_runs/00004-stylegan2-00000-all-frames-512-gpus2-batch32-gamma1.6384/*

# Ignore research article proposal 
Data_Synthesis_for_VFSS.pdf

# Ignore irrelevant files
.DS_Store
__pycache__
.ipynb_checkpoints
*.pyc
.env
run-training-on-cloud.sh
docs/prime-intellect-run.txt
